.wrapper {
    background: #161616;
}

.p-floatlabel input {
    width: 100%;
}

p-floatlabel {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

:host ::ng-deep {
    --p-select-focus-border-color: #ffffff !important;
    --p-input-focus-border-color: #ffffff !important;
    --p-button-focus-border-color: #ffffff !important;
    --p-form-field-float-label-focus-color: #ffffff !important;
    --p-focus-ring-color: #ffffff !important;
    --p-inputtext-focus-border-color: #ffffff !important;

    p-password {
        width: 100%;

        .p-password {
            width: 100%;
            display: flex;
        }

        input {
            width: 100%;
        }
    }

    p-floatlabel {
        width: 80%;

        .p-floatlabel {
            width: 100%;
        }
    }

    p-button {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

:host ::ng-deep .p-button {
    width: 80% !important;
    background: #ffffff !important;
    border-color: #ffffff !important;
}

:host ::ng-deep .p-button:hover {
    background: #e0e0e0 !important;
    border-color: #e0e0e0 !important;
}