:host ::ng-deep .p-speeddial-button.p-button {
    background: #ffffff !important;
    border: 1px solid #ffffff !important;
    color: #000000 !important;
}

:host ::ng-deep .p-speeddial-button.p-button:hover {
    background: #e0e0e0 !important;
    border-color: #e0e0e0 !important;
}

:host ::ng-deep .p-speeddial-button .p-button-icon {
    color: #000000 !important;
}