.wrapper {
    background: #161616;
}

:host ::ng-deep .p-button {
    background: #ffffff !important;
    border-color: #ffffff !important;
}

:host ::ng-deep .p-button:hover {
    background: #e0e0e0 !important;
    border-color: #e0e0e0 !important;
}

.tokenBox{
    position: absolute;
    top: 0px;
    right: 20px;
}
input {
    height: 100%;
    padding-left: 5px;
}